{% extends 'base.html.twig' %}

{% block title %}Connexion {% endblock %}

{% block body %}
<style>
    body {
        background-image: url({{asset('img/loginForm.png')}});
        background-repeat:no-repeat;
    }
    .fw-normal {
        color: white;
    }

</style>

<body class="text-center">

<main class="form-signin w-100 m-auto">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes déjà connecté(e) en tant que  {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se Deconnecter</a>
        </div>
    {% endif %}
    {% if  app.user==null %}
    <h1 class="h2 mb-3 fw-bold">Connexion</h1>
        <label class="h6 mb-3 fw-normal">Email ou pseudo</label>
    <div class="form-floating">
    <input type="text" value="{{ last_username }}" name="username" id="inputEmail" class="form-control" autocomplete="email" placeholder="Identifiant" required autofocus>
    </div>
    <br>
        <label class="h6 mb-3 fw-normal">Mot de passe</label>
    <div class="form-floating">
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="mot de passe" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
    <button class="btn btn-lg btn-primary" type="submit">
        Se connecter
    </button>
    <br>
    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
    {% endif %}
</form>
</main>
{% endblock %}
