{% extends 'base.html.twig' %}

{% block body %}
<style>
    body {
        background-color: #9aa6d5;
    }
</style>
<body class="text-center">

<main class="form-signin w-100 m-auto">
    <h4>Modification Profil</h4>
    <div>
        {{ form_start(participantForm) }}

            {{ form_row(participantForm.pseudo) }}
            {{ form_row(participantForm.prenom) }}
            {{ form_row(participantForm.nom) }}
            {{ form_row(participantForm.telephone) }}
            {{ form_row(participantForm.email) }}
            {{ form_row(participantForm.password.first) }}
            {{ form_row(participantForm.password.second) }}
            {{ form_row(participantForm.campus) }}
            {{ form_row(participantForm.profilePicture) }}
        <button type="submit" class="btn">Modifier </button>
        <a href="{{ path('participant_MonProfil') }}" class="btn">Retour</a>
        {{ form_end(participantForm) }}
        <a href="{{ path('participant_ConfirmationSuppression') }}" > <button class="btn">Supprimer mon compte</button> </a>
    </div>
</main>
{% endblock %}

{% block title %}

{% endblock %}

