{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ form_start(participantForm) }}

            {{ form_row(participantForm.pseudo) }}
            {{ form_row(participantForm.prenom) }}
            {{ form_row(participantForm.nom) }}
            {{ form_row(participantForm.telephone) }}
            {{ form_row(participantForm.email) }}
            {{ form_row(participantForm.plainPassword) }}
            {{ form_row(participantForm.campus) }}
            {{ form_row(participantForm.photo) }}
        <button type="submit" class="btn">Modifier </button>
        <a href="{{ path('participant_supprimer', {'participant': app.user.id }) }}" > <button class="btn">Supprimer mon compte</button> </a>

        {{ form_end(participantForm) }}


    </div>

{% endblock %}

{% block title %}

{% endblock %}

