{% extends 'base.html.twig' %}

{% block body %}
    <br>
<body class="text-center">
        <div>
            {% if app.user.photo != null  %}
                <img src="{{ asset('photos_utilisateurs/'~app.user.photo) }}" alt="photo de profil de {{ app.user.pseudo }} " height="200px" width="200px"> <br><br>
            {% endif %}
        </div>

        <div>
            <h2> {{ app.user.pseudo }} <br></h2>


            <p>
              Prénom : {{ app.user.prenom }} <br>
              Nom : {{ app.user.nom }} <br>
              Téléphone : {{ app.user.telephone }} <br>
              Email : {{ app.user.email }} <br>
              Campus : {{ app.user.campus.nom }} <br>

           </p>
           <a href="{{ path('participant_modifier', {'participant': app.user.id }) }}" > <button class="btn">Modifier mes informations</button> </a>
       </div>


{% endblock %}



