{% extends 'base.html.twig' %}

{% block title %} Création de compte {% endblock %}

{% block body %}
<style>
    body {
        background-color: skyblue;
    }
</style>
<body class="text-center">

<main class="form-signin w-100 m-auto">
    <h4>Création de mon compte</h4>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}
        {{ form_row(registrationForm.campus) }}
        {{ form_row(registrationForm.profilePicture) }}
        <br>
        <button type="submit" class="btn">Créer mon compte </button>
    {{ form_end(registrationForm) }}
</main>
{% endblock %}
