{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
 <h2>Sorties à venir </h2>
    {% if app.user %}
        <div>
            {% for s in sorties %}
                <a href="{{ path('sortie_details', {'sortie': s.id}) }}">
                    <div id="card">
                        <h4>{{ s.nom }}</h4> <br>
                        Le {{ s.dateHeureDebut | date ('d/m/y') }} à {{ s.dateHeureDebut | date ('H:i') }} <br><br><br><br><br>
                        Places restantes : {% if %}{{ s.participants.count() }}/{{ s.nbreInscritsMax }}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Connectez-vous pour accéder aux sorties</p>
    {% endif %}


 {% endblock %}
