{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="filtres">
        <label for="campus">Campus</label>
        <input type="text" id="campus" value="{{ app.user.campus.nom }}">
        <label for="search">Recherche par mot clé</label>
        <input type="search" id="search">
        <label for="dateDebut">Entre</label>
        <input type="date" id="dateDebut">
        <label for="dateFin">et</label>
        <input type="date" id="dateFin">
        <label for="sortiesOrga">Sorties dont je suis l'organisateur/rice</label>
        <input type="checkbox" id="sortiesOrga">
        <label for="sortiesInscrit">Sorties auxquelles je suis inscrit/e</label>
        <input type="checkbox" id="sortiesInscrit">
        <label for="sortiesNonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
        <input type="checkbox" id="sortiesNonInscrit">
        <label for="sortiesPassees">Sorties passées</label>
        <input type="checkbox" id="sortiesPassees">
        <input type="submit" id="rechercher" value="Rechercher">
    </div>
    <table>
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Nombre de places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date ('d/m/y H:i')}}</td>
                    <td>{{ sortie.dateLimiteInscription | date ('d/m/y H:i')}}</td>
                    <td>{{ sortie.participants.count()}}/{{ sortie.nbreInscritsMax }}</td>
                    <td>{{ sortie.etat.libelle}}</td>
                    <td>
{#                        {% if (sortie.nom is same as(app.user.sortiesParticipees.nom)) %}#}
{#                            x#}
{#                        {% endif %}#}
                    </td>
                    <td>{{ sortie.organisateur.pseudo}}</td>
                    <td>liens</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}