{% extends 'base.html.twig' %}

{% block title %}Créer sortie{% endblock %}

{% block body %}

<style>
    body {
        background: linear-gradient(#78b7d5,#bd8fd5);

    }
    .fw-normal {
        color: white;
    }

</style>

<main class="form-signin w-100 m-auto">
<div class="example-wrapper">
    <h1 class="h2 mb-3 fw-bold">Créer une Sortie </h1>
</div>
    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_widget(sortieForm) }}
    <a href="{{ path('lieu_creer') }}" class="btn">Ajouter un lieu</a> <br>
    <button class="btn">Ajouter une sortie</button>
    <a href="{{ path('sortie_lister') }}" class="btn">Retour</a>
    {{ form_end(sortieForm) }}

    <script>
        let elLieu = document.getElementById('sortie_lieu');
        let el = document.getElementById('sortie_ville');
        let ville = el.value;

        el.onchange = function onChange() {
            ville = el.value;
            elLieu.remove(0);
            recupLieux(ville);
        }

        function recupLieux(ville){
            fetch ('/sortie/recupererLieux/'+ville)
                .then(response => response.json())
                .then(data => {
                    nbOptions = 0 ;
                    if (data.length === 0) {
                        elLieu.options[nbOptions] = new Option("Aucun lieu");
                        nbOptions ++;
                    }
                    else {
                        data.forEach(d => {
                            elLieu.options[nbOptions] = new Option(d.nom, d.id);
                            nbOptions ++;
                        } )
                    }
                })
        }


    </script>
{% endblock %}
