{% extends 'base.html.twig' %}

{% block body %}

<h3>Détails de la sortie {{ sortie.nom }} ({{ sortie.etat.libelle }})</h3>
    <p>
        Date et heure de la sortie : {{ sortie.dateHeureDebut | date ('d/m/y H:i') }} <br>
        Date limite d'inscription : {{ sortie.dateLimiteInscription | date ('d/m/y H:i') }} <br>
        Nombre de places : {{ sortie.nbreInscritsMax }} <br>
        Durée : {{ sortie.duree }} minutes <br>
        {% if sortie.etat.id is same as (6) %}
            Motif de l'annulation : {{ sortie.infoSortie }} <br>
        {% else %}
            Description et infos : {{ sortie.infoSortie ? sortie.infoSortie : "Aucune infos" }} <br>
        {% endif %}
    </p>
    <p>
        Campus : {{ sortie.campus.nom }} <br>
        Lieu : {{ sortie.lieu.nom }} <br>
        Rue : {{ sortie.lieu.rue }} <br>
        Code postal : {{ sortie.lieu.ville.codePostal }} <br>
        Ville : {{ sortie.lieu.ville.nom }} <br>
        {% if (sortie.lieu.latitude) %}
            Latitude: {{ sortie.lieu.latitude }} <br>
        {% endif %}
        {% if (sortie.lieu.longitude) %}
            Longitude : {{ sortie.lieu.longitude }} <br>
        {% endif %}
    </p>
    {% if (sortie.organisateur.id is same as (app.user.id)) and (sortie.etat.id is same as (1) or sortie.etat.id is same as (2) or  sortie.etat.id is same as (3)) %}
        <a href="{{ path("sortie_modifier", {"sortie": sortie.id}) }}"><button class="btn">Modifier sortie</button></a>
    {% endif %}
    <h4>Organisateur de la sortie :
        {% if app.user is same as sortie.organisateur %}
            <a href="{{ path('participant_MonProfil') }}">{{ sortie.organisateur.pseudo }}</a>
        {% else %}
            <a href="{{ path('participant_Autreprofil',{'participant': sortie.organisateur.id})  }}">{{ sortie.organisateur.pseudo }}</a></h4>
        {% endif %}
    <h4>Liste des participants inscrits :</h4>
    <table>
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in sortie.participants %}
                <tr>
                    {% if app.user is same as participant %}
                    <td>
                        <a href="{{ path('participant_MonProfil') }}">{{ participant.pseudo}}</a>
                    </td>
                        {% else %}
                    <td>
                        <a href="{{ path('participant_Autreprofil',{'participant': participant.id})  }}">{{ participant.pseudo}}</a>
                    </td>
                     {% endif %}
                    <td>{{ participant.prenom }} {{ participant.nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% if app.user in sortie.participants %}
        <a href="{{ path("sortie_seDesister", {"sortie": sortie.id}) }}">Se désinscrire</a>
    {% else %}
        {% if sortie.etat.id is same as (2) %}
            {% if sortie.organisateur.id is not same as (app.user.id) %}
                <a href="{{ path("sortie_participer", {"sortie": sortie.id}) }}">S'inscrire</a>
            {% endif %}
        {% endif %}
    {% endif %}
    <a href="{{ path("sortie_lister") }}">Retour</a>
{% endblock %}

{% block title %}

{% endblock %}

