{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="filtres">
            {{ form_start(searchForm) }}
            {{ form_widget(searchForm) }}
            <button>Rechercher</button>
            {{ form_end(searchForm) }}
        </div>
        <br>
        <table>
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Nombre de places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% if sortie.etat.id is not same as (7) %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date ('d/m/y H:i') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date ('d/m/y H:i') }}</td>
                    <td>{{ sortie.participants.count() }}/{{ sortie.nbreInscritsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for sp in app.user.sortiesParticipees %}
                            {% if (sortie is same as(sp)) %}
                                x
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if app.user is same as sortie.organisateur %}
                        <td>
                            <a href="{{ path('participant_MonProfil') }}">{{ sortie.organisateur.pseudo}}</a>
                        </td>
                    {% else %}
                        <td>
                            <a href="{{ path('participant_Autreprofil',{'participant': sortie.organisateur.id})  }}">{{ sortie.organisateur.pseudo}}</a>
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path ('sortie_details', {'sortie': sortie.id}) }}">Afficher</a>
                        {% if (app.user in sortie.participants) and (sortie.etat.id is same as (2)) %}
                            <a href="{{ path("sortie_seDesister", {"sortie": sortie.id}) }}">Se désinscrire</a>
                        {% else %}
                            {% if sortie.etat.id is same as (2) %}
                                {% if sortie.organisateur.id is not same as (app.user.id) %}
                                    <a href="{{ path("sortie_participer", {"sortie": sortie.id}) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if (sortie.organisateur.id is same as (app.user.id)) and (sortie.etat.id is same as (1) or sortie.etat.id is same as (2) or  sortie.etat.id is same as (3)) %}
                            <a href="{{ path("sortie_annuler", {"sortie": sortie.id}) }}">Annuler</a>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}