{% extends 'base.html.twig' %}

{% block body %}
<section>
    <div class="filtres">
         {{ form_start(searchForm) }}
        {{ form_widget(searchForm) }}
        <button>Rechercher</button>
        {{ form_end(searchForm) }}
    </div>

    <table>
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Nombre de places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date ('d/m/y H:i')}}</td>
                    <td>{{ sortie.dateLimiteInscription | date ('d/m/y H:i')}}</td>
                    <td>{{ sortie.participants.count()}}/{{ sortie.nbreInscritsMax }}</td>
                    <td>{{ sortie.etat.libelle}}</td>
                    <td>
                        {% if (sortie is same as(app.user.sortiesParticipees)) %}
                            x
                        {% endif %}
                    </td>
                    <td>{{ sortie.organisateur.pseudo}}</td>
                    <td>
                        <a href="{{ path ('sortie_details', {'sortie': sortie.id}) }}">Afficher</a>
                        <a href="{{ path('sortie_participer', {'sortie': sortie.id}) }}">S'inscrire</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'd/m/Y'
            });
        });
    </script>
{% endblock %}