<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block entete %}
    <header>
        <nav>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">

                    <div class="d-flex">
                        <a class="navbar-brand" href="{{ path ('main_index') }}">
                            <img class="me-md-5" src="{{ asset('img/logo.png') }}" width="145em"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
{#            {{ path (('participant_modifier'), {'participant' : app.user.id }) }}#}
            <ul style="list-style-type:none;"  >
                <li ><a class= "link" href="{{ path ('main_index') }}">Accueil</a></li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path ('sortie_lister') }}">Liste des sorties</a>
                    title="Liste">Liste des sorties
                    </a>
                    </li>

            </ul>
                </div>

            </nav>

    {% endblock %}

    {% for msg in app.flashes ('msgError') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.flashes ('msgSucces') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% block body %}
    {% endblock %}

    {% block footer %}
        <footer>
            © Sortir.com {{ 'now' | date("F Y")  }}
        </footer>

    {% endblock %}

    </body>
</html>
